.origin-box {
  margin-top: 100px;
  width: 100%;
}

.origin-box .origin-text h1 {
  font-size: 4.2em;
  background: linear-gradient(to right, #28588d , #5f82fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  width: 550px;
  margin-top: 250px;
  margin-left: 100px;
}
